.key-c
{color: #AEF2EB}

.btn.key-c:hover
{color: hsl(174, 72%, 73.8%)}

.bg-key-c
{background-color: #AEF2EB;}

.ol-key-c
{border-color: #AEF2EB;}

.svg-key-c
{
    color:#AEF2EB;
    fill: #AEF2EB;
    stroke: #AEF2EB;
}

.svg-key-c-no-fill
{
    color:#AEF2EB;
    stroke: #AEF2EB;
    fill:none;
}

.btn.svg-key-c :hover
{
    fill: hsl(174, 72%, 73.8%);
    stroke: hsl(174, 72%, 73.8%);
    transition: fill 0.15s ease-in-out;
    transition: stroke 0.15s ease-in-out;
}
.btn.svg-key-c-no-fill :hover
{
    stroke: hsl(174, 72%, 73.8%);
    transition: stroke 0.15s ease-in-out;
}


.base-c
{color: #56688C}

.bg-base-c
{background-color: #56688C}

.ol-base-c
{border-color: #56688C;}

.svg-base-c
{
    fill: #56688C;
    stroke: #56688C;
}

.btn.svg-base-c :hover
{
    fill: hsl(220, 24%, 39.6%);
    stroke: hsl(220, 24%, 39.6%);
    transition: fill 0.15s ease-in-out;
    transition: stroke 0.15s ease-in-out;
}


.dark-c
{color: #232A40}
.dark-c-t{
    color: hsla(227, 28%, 20%, 0.5);
}

.bg-dark-c
{background-color: #232A40;}

.ol-dark-c
{border-color: #232A40;}

.svg-dark-c
{
    color: #232A40; 
    fill: #232A40;
    stroke: #232A40;
}

.btn.svg-dark-c :hover
{
    fill: hsl(226, 29%, 17.1%);
    stroke: hsl(226, 29%, 17.1%);
    transition: fill 0.15s ease-in-out;
    transition: stroke 0.15s ease-in-out;
}


.high-c
{color: #A61F38}
.high-c-t
{color: hsla(349, 69%, 39%, 0.5)}

.bg-high-c
{background-color: #A61F38;}

.ol-high-c
{border-color: #A61F38;}

.svg-high-c
{
    color: #A61F38;
    fill: #A61F38;
    stroke: #A61F38;
}

.btn.svg-high-c :hover
{
    fill: hsl(349, 69%, 35.1%);
    stroke: hsl(349, 69%, 35.1%);
    transition: fill 0.15s ease-in-out;
    transition: stroke 0.15s ease-in-out;
}


.white-c
{color: #F1F7FF}

.bg-white-c
{background-color: #F1F7FF;}

.ol-white-c
{border-color: #F1F7FF;}

.svg-white-c
{
    color: #F1F7FF;
    fill: #F1F7FF;
    stroke: #F1F7FF;
}

.btn.svg-white-c :hover
{
    fill: hsl(214, 100%, 87.3%);
    stroke: hsl(214, 100%, 87.3%);
    transition: fill 0.15s ease-in-out;
    transition: stroke 0.15s ease-in-out;
}

.nav-header{
    height: 66.55px;
}

html, body { height: 100%; }

.day-of-week
{
    height: 30px;
    width: 12.5%;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #A7CBD9;
    border-top: 0px solid transparent;
    flex-grow: 1;
}

.cal-window{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cal-row-week{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.cal-cell-day
{
    width: 12.5%;
    text-align: center;
    padding: 0px 5px;
    border: 1px solid #A7CBD9;
    flex-grow: 1;
    overflow-y: auto;
}

.contents-of-cell{
    overflow-y: auto;
}

.day-and-date
{
    height: 45px;
    width: 13%;
    text-align: center;
    padding: 2px;
    border: 1px solid #A7CBD9;
    /* border-top: 0px solid transparent; */
}

.cal-row-time
{
    text-align: center;
}

.cal-cell-hour
{
    width: 13%;
    height: 50px;
    text-align: center;
    padding: 0px;
    border: 1px solid #A7CBD9;
}

.cal-axis-time
{
    width: 9%;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
    border: 1px solid #A7CBD9;
    border-left: 0px solid transparent;
    /* border-top: 0px solid transparent; */
}

.scroll{
    overflow-y: auto;
}

.scroll-lock{
    position: sticky;
    top:0;
    left:0;
}

.today-cell{
    border:3px solid #A61F38;
}

hr.now-line{
    position: relative;
    border: none;
    border-top: 3px solid #A61F38;
    margin: 0px;
}

.schedule {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 0.2rem;
    line-height: 1; 
    padding:0.1rem 0.2rem;
}

.drawer-nav {
    position: fixed;
    top: 0px;
    left: -200px;
    width: 180px;
    height: 100%;
    padding: 40px 30px 0 0;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
    background-color: #ddd;
    text-align: center; 
    z-index: -1;
}

.drawer-nav.active {
    opacity: 1;
    visibility: visible;
    left: 0;
}